@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Questrial", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  font-weight: 500;
}

#back {
  width: 100%;
  /* min-height: 100%; */
  overflow: hidden;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  margin-top: 80px;
  width: 100%;
  height: 100px;
}

#logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo img {
  width: 400px;
}

nav .links a {
  color: rgb(94, 94, 224);
  font-size: 15px;
}

nav .links a {
  margin: 20px;
}

.heading {
  text-align: center;
  font-size: 55px;
  font-family: "Cormorant", serif;
  font-weight: 100;
  line-height: 65px;
  opacity: 1;
  margin-top: 70px;
}

.header-section {
  margin-top: 70px;
}

.header {
  text-align: center;
  font-size: 55px;
  font-family: "Cormorant", serif;
  font-weight: 100;
  line-height: 65px;
  opacity: 1;
}

#main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin-top: 70px;
}

#main .imgcontainer {
  width: 200px;
  height: 250px;
}

#main #one,
#main #six {
  width: 250px;
  height: 400px;
  
}

@media only screen and (max-width: 1250px) {
  
  #main #two,
  #main #three,
  #main #four,
  #main #five {
    visibility: hidden;
  }
}

@media only screen and (max-width: 1010px) {
  #main #one,
  #main #two,
  #main #three,
  #main #four,
  #main #five,
  #main #six {
    visibility: hidden;
  }
}

#main #one {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

#main #six {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

#main #holder1 {
  position: absolute;
  top: 50%;
  left: 300px;
  transform: translate(0, -50%);
}

#main #holder2 {
  position: absolute;
  top: 50%;
  right: 300px;
  transform: translate(0, -50%);
}

#main .holder div {
  margin-top: 20px;
}

#videoplayer {
  width: 300px;
  min-height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  overflow: hidden;
}
@media only screen and (max-width: 600px ) {
  #videoplayer {
    width: 100%;
  }
}

#videoplayer video {
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#main .imgcontainer {
  background-size: cover;
  background-position: center;
}

#main #one {
  background-image: url(./assets/img-1.jpg);
}

#main #two {
  background-image: url(./assets/img-2.jpg);
}
#main #three {
  background-image: url(./assets/img-3.jpg);
}
#main #four {
  background-image: url(./assets/img-4.jpg);
}
#main #five {
  background-image: url(./assets/img-5.jpg);
}
#main #six {
  background-image: url(./assets/img-6.jpg);
}

.videoplayer-center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
  opacity: 0;
  visibility: hidden;
}

.btn {
  border: 2px solid #fff;
  color: #fff;
  margin: 10px 20px;
  text-align: center;
  padding: 10px 20px;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  background-color: #fff;
  color: #000;
}

.center-text {
  text-align: center;
  color: #fff;
}

.section {
  padding: 50px;
  margin-top: 70px;
  width: 100%;
  display: flex;
}
.img-text-container {
  width: 30%;
}

@media only screen and (max-width: 900px ) {
  .img-text-container {
    display: none;
  }
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: transparent; /* Set a background color */
  color: #970638; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #171B87; /* Add a dark-grey background on hover */
  color: #fff;
}

.img-text-container p {
  margin-top: 20px;
  text-align: center;
  line-height: 22px;
}

#sec-gen-img {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 600px;
  margin-right: 40px;
  background-image: url(./assets/img-5.jpg);
}

#sec-gen-msg {
  width: 70%;
  line-height: 40px;
  display: flex;
  margin-left: 40px;
}

@media only screen and (max-width: 900px ) {
  #sec-gen-msg {
    width: 100%;
    text-align: center;
  }
}

.section-sponsors {
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 100%;
}

.project-title h1 {
  font-weight: 300;
}

.project-categ {
  font-weight: lighter;
}

.cursor {
  position: absolute;
  width: 300px;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: scale(0.1);
  opacity: 0;
  margin: -100px 0 0 -100px;
  background: url(./image-1.jpg) no-repeat 50% 50%;
  background-size: cover;
  z-index: 1;
}

.wrapper {
  width: 80%;
  margin: 90px auto;
  height: 100%;
}

.project {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 1;
  position: relative;
  z-index: 2;
  color: white;
  mix-blend-mode: difference;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

hr {
  text-align: center;
  width: 400px;
  margin: auto;
}

footer {
  /* position: absolute;
    bottom: 0; */
  background: #fff;
  height: auto;
  width: 100vw;
  font-family: "Open Sans";
  padding-top: 40px;
  color: #000;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  text-align: center;
}

@media only screen and (max-width: 900px ) {
  .footer-content {
    flex-direction: column;
  }
}

.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: #000;
}
.socials a i {
  font-size: 1.1rem;
  transition: color 0.4s ease;
}
.socials a:hover i {
  color: aqua;
}

.footer-bottom {
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}

.content-one,
.content-two,
.content-three {
  width: 100%;
  height: 50vh;
}

.contact {
  margin: 10px 0;
}

.contact h5,
.contact p {
  line-height: normal;
}

.comming-soon{
  color: rgb(133, 133, 133);
  text-align: center;
  margin: 100px 0px;
}

.banner{
  background-color: rgb(235, 27, 27);
  padding: 10px 0;
  text-align: center;
  color: #fff;
}

.banner a{
  color: #fff;
  text-decoration: underline;
}
