/*<< important styles*/
.scene {
  /* !3D space! */
  perspective: 600px;
}
.items {
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.items2 {
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.item {
  position: absolute;
  
  -webkit-perspective: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  visibility: visible;
  backface-visibility: hidden;
}
.back {
  transform: rotateY(180deg);
  border: 1px solid #000;
}

.items:hover {
  transform: rotateY(180deg);
}
/*important styles >>*/
/*<< variations*/
.items-2 {
  transform-origin: center right;
}
.items-2:hover {
  transform: translateX(-100%) rotateY(-180deg);
}

/*variations >>*/
.scene {
  width: 350px;
  min-width: 50px;
  height: 500px;
  margin: 22px;
}

.flip-container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.items, .items2 {
  width: 100%;
  height: 100%;
}

.item {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  text-align: center;
  border-radius: 5px;
}

.info{
    line-height: 25px;
}

.info h1{
    font-size: 20px;
}

.info p{
    font-size: 16px;
}

.front {
  display: flex;
  align-items: flex-end;
  padding: 30px;
  font-size: 25px;
  color: #fff;
  text-shadow: 2px 2px 2px #000;
  justify-content: center;
}

.back{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    line-height: 23px;
    padding: 30px;
    color: #000;
    text-align: justify;
    justify-content: center;
}

.img-11 {
  background-image: url("../sec-photos/IMG-20220114-WA0073.jpeg");
}

.img-23 {
  background-image: url("../sec-photos/Amartya\ Sumukh\ Varma_.jpg");
}

.img-6 {
  background-image: url("../sec-photos/Chirag\ Sharma_.jpg");
}

.img-24 {
  background-image: url("../sec-photos/Spriha\ Jha.jpg");
}

.img-7 {
  background-image: url("../sec-photos/Aakanshi\ Bansal_.jpg");
}

.img-3 {
  background-image: url("../sec-photos/Zeeshan\ Ahmad\ Fareed_.jpg");
}

.img-5 {
  background-image: url("../sec-photos/Areeba\ Basharat_.jpg");
}

.img-8 {
  background-image: url("../sec-photos/Prisha\ Warikoo_.jpg");
}

.img-9 {
  background-image: url("../sec-photos/Shubhang\ Abhiraj\ Singh_.jpg");
}

.img-10 {
  background-image: url("../sec-photos/IMG-20220114-WA0074.jpeg");
}

.img-1 {
  background-image: url("../sec-photos/Shubhangi Thakur_.jpg ");
}

.img-12 {
  background-image: url("../sec-photos/Ankush\ Singha.jpg");
}

.img-13 {
  background-image: url("../sec-photos/Chinmayee\ Consul_.jpg");
}

.img-14 {
  background-image: url("../sec-photos/Hrithik\ Raj.jpg");
}

.img-15 {
  background-image: url("../sec-photos/Dhruv\ Rastogi_.jpg");
}

.img-16 {
  background-image: url("../sec-photos/Vipul\ Singhla.jpg");
}

.img-17 {
  background-image: url("../sec-photos/Saba\ Shahidi_.jpg");
}

.img-18 {
  background-image: url("../sec-photos/Anukriti\ Singh_.jpg");
}

.img-19 {
  background-image: url("../sec-photos/Megha\ Bhalotia_.jpg");
}

.img-20 {
  background-image: url("../sec-photos/Shriya\ Gaur_.jpg");
}

.img-21 {
  background-image: url("../sec-photos/Sagar\ CV_.jpg");
}

.img-22 {
  background-image: url("../sec-photos/Rishika\ Chaturvedi_.jpg");
}

.img-2 {
  background-image: url("../sec-photos/Rohan Nagpal_.jpg ");
}

.img-4 {
  background-image: url("../sec-photos/Zeba Hussain_.jpg ");
}
