.form {
  margin: 0 15%;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  padding: 50px;
  margin-top: 70px;
}

input, select {
  padding: 10px;
  margin: 10px 0;
  border: 0.1px solid #000;
  border-radius: 2px;
  font-size: 17px;
}

.name {
  display: flex;
  justify-content: space-between;
}

.first-name {
  padding: 0 15px 0 0;
}

.first-name,
.last-name {
  width: 100%;
  display: inline-block;
}

.first-name label,
.last-name label {
  display: block;
}

.first-name input,
.last-name input {
  display: block;
  width: 100%;
}

.ques textarea {
  width: 100%;
  height: 200px;
  margin: 20px 0;
  padding: 10px;
  font-size: 17px;
}

.ques label{
    display: block;
}

.ques input{
    width: 100%;
}



.ques {
  margin: 20px 0;
}

.preference-one, .preference-two,
.preference-three {
  display: flex;
  width: 100%;
  margin: 20px 10px;
}

.one-1,
.one-2,
.two-1,
.two-2,
.three-1,
.three-2 {
    width: 50%;
    margin: 10px;
}




.select-one-1,
.select-one-2,
.select-two-1,
.select-two-2,
.select-three-1,
.select-three-2 {
  width: 100%;
}

.select-wrapper {
  height: 100%;
  padding: 2em;
  display: grid;
  place-content: center;
}

label {
  margin-top: 1.5em;
  margin-bottom: .5em;
  font-weight: bold;
  font-size: 1.2em;
}

select {
  padding: 1em;
  width: 130%;
  border-radius: .2em;
  border: 1px solid #acacac;
  color: #181820;
  
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  
  background: url('https://cdn1.iconfinder.com/data/icons/arrows-vol-1-4/24/dropdown_arrow-512.png');
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: right;
  background-origin: content-box;
}

